.lt_main_left {
  width: 90px;
  height: 100%;
  float: left;
  position: relative;
}
.lt_main_left a {
  display: block;
  width: 90px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #e3e4e5;
  color: #666;
}
.lt_main_left a.current {
  background-color: #fff;
  border: none;
}
.lt_main_right {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.lt_main_right li {
  float: left;
  width: 33.3%;
}
.lt_main_right li a {
  display: block;
}
.lt_main_right li a img {
  width: 70px;
  height: 50px;
  margin: 0 auto;
}
.lt_main_right li a p {
  text-align: center;
}
