.mt_150 {
  margin-top: 150px;
}
/*a 标签样式重置*/
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  width: 100%;
}
.bg_color {
  background-color: #222D32;
}
.panel-title {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
}
.lt_aside {
  position: fixed;
  left: 0;
  top: 0;
  width: 180px;
  height: 100%;
  background-color: #222D32;
  z-index: 999;
  transition: 1s;
}
.lt_aside.hideLeft {
  left: -180px;
}
.lt_aside .brand {
  width: 180px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  background-color: #367FA9;
}
.lt_aside .brand a {
  color: #fff;
}
.lt_aside .user {
  height: 180px;
  padding-top: 30px;
}
.lt_aside .user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.lt_aside .user p {
  line-height: 30px;
  height: 30px;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.lt_aside .nav li a {
  display: block;
  width: 180px;
  height: 40px;
  line-height: 40px;
  padding-left: 40px;
  border-left: 1px solid transparent;
  color: #fff;
}
.lt_aside .nav li a.current {
  background-color: #1D1F21;
  border-left: 1px solid #006699;
}
.lt_aside .nav li .child a {
  text-indent: 10px;
}
.lt_aside .nav li i {
  margin-right: 10px;
}
.lt_main {
  width: 100%;
  height: 100%;
  padding-left: 180px;
  background-color: pink;
  padding-top: 50px;
  transition: 1s;
}
.lt_main.hideLeft {
  padding-left: 0px;
}
.lt_main .menu {
  height: 50px;
  width: 100%;
  padding-left: 180px;
  background-color: #3C8DBC;
  position: fixed;
  left: 0;
  top: 0;
  transition: 1s;
}
.lt_main .menu.hideLeft {
  padding-left: 0;
}
.lt_main .menu a {
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
}
.lt_main .breadcrumb {
  margin-top: 20px;
}
